*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-item img{
    width: 100%;
    height: auto;
    aspect-ratio: 20.5/9; 
    /* Responsive aspect ratio */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* object-fit: cover; */
}